.login-btn{
    color: #fff;
    background-color: #e1261c !important;
    border-color: #e1261c !important;
  }

.login-btn:hover{
    color: #fff;
    background-color: #871711 !important;
    border-color: #871711 !important;
  }

.content-wrapper-lms{
  background-color: #FCE9E8 !important;
}

.highlight-row {
  background-color: #fce9e8;
}

.table-striped-lms tbody tr:nth-child() {
  background-color: #FCE9E8 !important;
}

.messages.vanish {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}